@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello Heema, All the best for building Web apps with ASP.NET Core .</p>
     
    <p>IP ADDRESS: @ViewBag.IpAddress</p>
    <p>Host Name: @ViewBag.HostName</p>
</div>
